{% extends "base_index.html" %}

{% block content %}
<section>
    <form action="{% url 'index-short' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">short</button>
        <div>
            {% if url_exist %}
                <p> url deja raccourcie : <a href="{{ reverse_url }}">{{ reverse_url }}</a></p>
            {% endif %}
            {% if not url_exist %}
                <p> Url racourcie <a href="{{ reverse_url }}">{{ reverse_url }}</a></p>
            {% endif %}
            
        </div>
    </form>
    
</section>
{% endblock %}